:root {
  /* colors */
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-light-blue: hsl(208, 49%, 24%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);

  /* intro gradient */
  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);
  --lighter-red: hsl(353, 100%, 75%);
  --intro-gradient: linear-gradient(135deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));

  /* body gradient */
  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
  --body-gradient: linear-gradient(to bottom, hsl(237, 17%, 21%), hsl(237, 23%, 32%));

  /* Fonts */
  --font-size: 16px;
  --font-overpass: 'Overpass', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;
}

html{
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

main {
  width: 100%;
  height: auto;
}

/* INTO SECTION */
header {
  background: url(./images/bg-pattern-intro-mobile.svg), var(--intro-gradient);
  background-position: 35% 40%;
  background-repeat: repeat;
  width: 100%;
  height: auto;
  border-bottom-left-radius: 150px;
  padding: 4rem 1rem 7rem;
}

nav {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  transition: width 0.3s linear;
}


/* sticky nav */
.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  z-index: 1;
  padding: 0 1rem;
  background: var(--intro-gradient);
}
.desktop-menu {
  display: none;
}

.nav-list {
  display: flex;
  margin: 0 1rem;
}

.nav-link {
  color: white;
  font-size: 20px;
  font-family: var(--font-overpass);
  opacity: 0.9;
  margin: 0 1rem;
}

.arrow-icon {
  margin: 0 0.5rem;
  transition: all 0.3s linear;
}

.desktop-menu .btn-wrapper {
  margin: 0 0.5rem 0 auto;
}

.desktop-menu .btn-wrapper .btn {
  margin: 0 0.2rem;
}

.desktop-menu .btn-wrapper .btn-transparent {
  border: none;
}

.hamburger-menu {
  margin: 0 0 0 auto;
}

.text-intro {
  margin: 7rem 0 0;
}

.text-intro h1 {
  font-family: var(--font-ubuntu);
  text-align: center;
  color: var(--white);
  font-weight: 400;
  margin: 1rem 2rem 2rem;
}

.text-intro p {
  font-family: var(--font-ubuntu);
  font-weight: 400;
  text-align: center;
  color: var(--white);
  opacity: 0.8;
  margin: 0 3rem;
}


.btn-wrapper {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.btn {
  height: 2.5rem;
  width: 8rem;
  border-radius: 20px;
  border: none;
  margin: 0 1rem;
  font-size: 16px;
  font-family: var(--font-ubuntu);
  font-weight: 700;
}

.btn-white {
  background-color: var(--white);
  color: var(--light-red);
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

/* Card Section */
.card-section {
  width: 100%;
}

.section-heading {
  text-align: center;
  margin: 7rem 0 3rem;
  font-family: var(--font-overpass);
  color: var(--very-light-blue);
  font-weight: 600;
}

.article {
  width: 100%;
}

.illustration {
  width: 100%;
  margin: 1rem 0;
}

.illustration .illustration-mobile {
  width: 100%;
}

.illustration-desktop {
  display: none;
}

.text-wrapper {
  width: 100%;
  margin: 2rem 0;
}

.text-item {
  text-align: center;
  width: 80%;
  max-width: 500px;
  margin: 2rem auto 3rem;
}

.text-heading {
  font-family: var(--font-ubuntu);
  font-weight: 700;
  color: var(--very-light-blue);
  margin: 1rem 5rem;
}

.text-content {
  font-family: var(--font-ubuntu);
  line-height: 30px;
  color: var(--very-dark-grayish-blue);
  margin: 0.5rem;
}

/* State of the Art Section*/
.state-of-art-card {
  background: url(./images/bg-pattern-circles.svg), var(--body-gradient);
  background-position: 40% 150%;
  background-repeat: no-repeat;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  margin: 17rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 60vh;
}

.illustration-phone-container {
  margin: 1rem 0 12rem;
  width: 100%;
  transform: translateY(-40%);
}

.phone-illustration {
  width: 100%;
}

.state-text-content {
  text-align: center;
  max-width: 500px;
  text-align: center;
  position: absolute;
}

.state-heading {
  font-family: var(--font-overpass);
  font-weight: 300;
  color: var(--white);
  font-size: 40px;
  margin: 3rem 0 1rem;
}

.state-text {
  font-size: 18px;
  font-family: var(--font-ubuntu);
  color: var(--grayish-blue);
}


/* FOOTER */
footer {
  background-color: var(--very-dark-black-blue);
  color: var(--white);
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: var(--font-overpass);
  border-top-right-radius: 100px;
  padding: 0 0 3rem 0;
}

.footer-logo-container {
  margin: 4rem 0;
}

.footer-list {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-list-heading {
  font-size: 20px;
  margin: 2rem 0;
  font-weight: 400;
}

.footer-list-item {
  font-size: 18px;
  margin: 0.5rem 0;
  color: var(--grayish-blue);
}

/* Mobile Menu */ 
.mobile-menu {
  position: fixed;
  top: 8rem;
  bottom: 2rem;
  right: 2rem;
  left: 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px 5px hsla(240, 10%, 16%, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  overflow-y: scroll;
  max-width: 400px;
  margin: 0 auto;
}

.mobile-menu-list {
  margin: 2rem 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-menu-link {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-family: var(--font-overpass);
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
  margin: 1rem 0;
}

.mobile-menu .btn-wrapper {
  flex-direction: column;
  margin:  1rem 0;
}
.mobile-menu hr {
  width: 80%;
}

.mobile-menu .btn-transparent {
  color: var(--very-dark-desaturated-blue);
}

.mobile-menu .btn-white {
  background: var(--intro-gradient);
  color: var(--white);
}


.show-mobile-menu {
  visibility: visible;
  z-index: 1;
}

.menu-link-list {
  width: 80%;
  margin: 1rem auto;
  background-color: var(--grayish-blue);
  border-radius: 10px;
  
}
.nested-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s linear;
}

.show-nested-list {
  max-height: 500px;
}

.menu-link-list li {
  color: var(--very-dark-grayish-blue);
  margin: 1rem;
}

/* Desktop Menu Link List */
.desktop-link-list {
  background-color: var(--white);
  color: var(--very-dark-black-blue);
  border-radius: 10px;
  position: absolute;
  top: 6rem;
}

.desktop-link-list li {
  margin: 1rem;
}

.list-1 {
  left: 17rem;
}

.list-2 {
  left: 28rem;
}


/* Active States */
.nav-link:hover, .nav-link:active {
  text-decoration: underline;
  cursor: pointer;
}

.nav-link .show-nested-list {
  box-shadow: 0 0 10px 5px hsla(240, 10%, 16%, 0.5);
}

.nested-list li:hover, .nested-list li:active {
  font-weight: 700;
}

.btn:active, .btn:hover {
  cursor: pointer;
}

.btn-white:active, .btn-white:hover {
  background-color: var(--lighter-red);
  color: var(--white);
}

.btn-transparent:active {
  background-color: var(--white);
  color: var(--light-red);
}

.footer-list-item:active, .footer-list-item:hover {
  text-decoration: underline;
  cursor: pointer;
}


/* ATTRIBUTION */
.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a {
   color: hsl(228, 45%, 44%); 
  }

  /* Desktop Designs */
  @media screen and (min-width: 768px) {
    header {
      width: 100%;
      background: url(./images/bg-pattern-intro-desktop.svg), var(--intro-gradient);
      background-repeat: no-repeat;
      background-position: 27% 52%;
      padding-top: 2rem;
    }
    nav {
      width: 80%;
      margin: 0 auto;
    }
    .text-intro {
      margin-top: 4rem;
    }

    .text-intro h1 {
      font-size: 52px;
    }

    .text-intro p {
      font-size: 20px;
    }

    .hamburger-menu {
      display: none;
    }

    .desktop-menu {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .section-heading {
      font-size: 40px;
    }

    .article {
      width: 100%;

    }

    .right {
      display: flex;
      flex-flow: row-reverse;
    }

    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 3rem 0;
    }

    .illustration-desktop {
      display: block;
      position: relative;
    }

    .left .illustration-desktop {
      transform: translateX(-13%);
    }

    .right .illustration-desktop {
      transform: translateX(15%);
      bottom: 10rem;
    }

    .illustration {
      max-width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .illustration-mobile {
      display: none;
    }

    .right .text-wrapper {
      height: fit-content;
      margin: 6rem 0;
    }

    .text-item {
      max-width: 600px;
      text-align: start;
    }

    .left .text-item {
      margin: 1rem;
      
    }


    .text-heading {
      margin: 1rem 0;
      font-size: 24px;
    }

    .text-content {
      margin: 1rem 0;
      width: 100%;
    }

    /* State of the art card section */
    .state-of-art-card {
      width: 100%;
      height: 350px;
      background-position: -70% 90%;
      align-items: flex-start;
      border: 1px solid green;
      margin: 2rem 0 7rem;
    }

    .state-of-art-card .illustration-phone-container {
      width: 50%;
      margin: 0;
      transform: translate(0);
    }

    .state-text-content {
      width: 50%;
      align-self: flex-end;
      text-align: start;
      margin: 0 2rem;
    }

    .state-heading {
      margin: 0;
    }

    .state-text {
      margin: 1rem 0;
      max-width: 500px;
    }

    /* Footer */
    footer {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    .footer-logo-container {
      margin: 7rem 0 0 0;
    }

    .footer-list {
      height: 300px;
      margin-top: 5rem;
      align-items: flex-start;
    }
  }