:root {
  /* colors */
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-light-blue: hsl(208, 49%, 24%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);

  /* intro gradient */
  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);
  --intro-gradient: linear-gradient(135deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));

  /* body gradient */
  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
  --body-gradient: linear-gradient(to bottom, hsl(237, 17%, 21%), hsl(237, 23%, 32%));

  /* Fonts */
  --font-size: 16px;
  --font-overpass: 'Overpass', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

main {
  width: 100%;
  height: 100%;
}

/* INTO SECTION */
header {
  background: url(./images/bg-pattern-intro-mobile.svg), var(--intro-gradient);
  background-position: 35% 40%;
  background-repeat: repeat;
  width: 100%;
  height: auto;
  border-bottom-left-radius: 150px;
  padding: 4rem 1rem 7rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
}

.desktop-menu {
  display: none;
}

.nav-list {
  display: flex;
  margin: 0 1rem;
}

.nav-link {
  color: white;
  font-family: var(--font-overpass);
  opacity: 0.9;
  margin: 0 1rem;
}

.arrow-icon {
  margin: 0 0.5rem;
}

.desktop-menu .btn-wrapper {
  margin: 0 0.5rem 0 auto;
}

.desktop-menu .btn-wrapper .btn {
  margin: 0;
}

.desktop-menu .btn-wrapper .btn-transparent {
  border: none;
}

.hamburger-menu {
  margin: 0 0 0 auto;
}

.text-intro {
  margin: 7rem 0 0;
}

.text-intro h1 {
  font-family: var(--font-ubuntu);
  text-align: center;
  color: var(--white);
  font-weight: 400;
  margin: 1rem 2rem 2rem;
}

.text-intro p {
  font-family: var(--font-ubuntu);
  font-weight: 400;
  text-align: center;
  color: var(--white);
  opacity: 0.8;
  margin: 0 3rem;
}


.btn-wrapper {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.btn {
  height: 2.5rem;
  width: 8rem;
  border-radius: 20px;
  border: none;
  margin: 0 1rem;
  font-size: 16px;
  font-family: var(--font-ubuntu);
  font-weight: 700;
}

.btn-white {
  background-color: var(--white);
  color: var(--light-red);
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

/* Card Section */
.card-section {
  width: 100%;
}

.section-heading {
  text-align: center;
  margin: 7rem 0 3rem;
  font-family: var(--font-overpass);
  color: var(--very-light-blue);
  font-weight: 600;
}

.article {
  width: 100%;
}

.illustration {
  width: 100%;
  margin: 1rem 0;
}

.illustration .illustration-mobile {
  width: 100%;
}

.illustration-desktop {
  display: none;
}

.text-wrapper {
  width: 100%;
  margin: 2rem 0;
}

.text-item {
  text-align: center;
  width: 80%;
  max-width: 500px;
  margin: 2rem auto 3rem;
}

.text-heading {
  font-family: var(--font-ubuntu);
  font-weight: 700;
  color: var(--very-light-blue);
  margin: 1rem 5rem;
}

.text-content {
  font-family: var(--font-ubuntu);
  line-height: 30px;
  color: var(--very-dark-grayish-blue);
  margin: 0.5rem;
}

/* State of the Art Section*/
.state-of-art-card {
  background: url(./images/bg-pattern-circles.svg), var(--body-gradient);
  background-position: 40% 150%;
  background-repeat: no-repeat;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  margin: 17rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.state-of-art-card .illustration {
  transform: translateY(-50%);
}

.illustration .phone-illustration {
  width: 100%;
  
}

.state-text-content {
  position: absolute;
  text-align: center;
}

.state-heading {
  font-family: var(--font-overpass);
  font-weight: 300;
  color: var(--white);
  margin: 10rem 0 1rem;
  font-size: 40px;
}

.state-text {
  font-size: 18px;
  font-family: var(--font-ubuntu);
  color: var(--grayish-blue);
  margin: 1rem 3rem;
}

/* ATTRIBUTION */
.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a {
   color: hsl(228, 45%, 44%); 
  }

  /* Desktop Designs */
  @media screen and (min-width: 768px) {
    body {
      overflow-x: hidden;
    }
    header {
      background: url(./images/bg-pattern-intro-desktop.svg), var(--intro-gradient);
      background-repeat: no-repeat;
      background-position: 27% 52%;
      padding-top: 2rem;
    }
    nav {
      width: 80%;
      margin: 0 auto;
    }
    .text-intro {
      margin-top: 4rem;
    }

    .text-intro h1 {
      font-size: 52px;
    }

    .text-intro p {
      font-size: 20px;
    }

    .hamburger-menu {
      display: none;
    }

    .desktop-menu {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .right {
      display: flex;
      flex-flow: row-reverse;
    }

    .left {
      display: flex;
      flex-direction: row;
    }

    .left .illustration-desktop {
      transform: translatex(-30%);
    }

    .illustration {
      max-width: 50%;
    }

    .illustration-mobile {
      display: none;
    }

    .illustration-desktop {
      display: block;
      position: relative;
      bottom: 10rem;
      margin: 0;
    }

    .right .text-wrapper {
      max-width: 50%;
      margin: 6rem 0;
    }

    .text-item {
      text-align: start;
    }

    .text-heading {
      margin: 1rem 0;
      font-size: 24px;
    }

    .text-content {
      margin: 1rem 0;
    }

    /* State of the art card section */
    .state-of-art-card {
      width: 100%;
      background-position: -70% 90%;
      display: flex;
      margin: 1rem 0 15rem;
    }

    .state-of-art-card .illustration {
      width: 50%;
      transform: unset;
    }

    .state-text-content {
      position: unset;
      width: 50%;
      text-align: start;
      margin: 0 2rem;
    }

    .state-heading {
      margin: 0;
    }

    .state-text {
      margin: 1rem 0;
      max-width: 500px;
    }
  }